/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    background-color: #1D2D3C;
}

img {
    width: 100%;
    display: block;
}

.container {
    width: 70%;
    margin: auto;
}

/* HEADER */
header {
    padding: 20px 0;

}

/* logo */
.logo img {
    width: 50px;
}

/* MAIN */
.wrapper-cd {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* single-cd */
.single-cd {
    width: calc(100% / 4);
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 40px;
    margin: 25px 20px;
}

h3 {
    margin-top: 10px;
}

h3,
h4,
h5 {
    padding: 5px 0;
}

/* select-genre */
.select-genre {
    display: flex;
    align-items: center;
    flex-direction: column;
}

select {
    width: 150px;
    padding: 5px;
    color: gray;
    border: none;
    border-bottom: 1px solid lightgray;
    background-color: rgba(0, 0, 0, 0);
}

select:focus {
    outline: none;
}